* {
    margin: 0;
    font-family: 'Style Script', cursive;
    box-sizing: border-box;
}

body {
    display: flex;
    background-image: linear-gradient(45deg, red, purple, blue);
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

#container {
    height: 55%;
    aspect-ratio: 1/1;
    border-radius: 2rem;
    background-color: rgba(217, 25, 255, 0.2);
    padding: 2em;
    font-size: 1.5rem;
    position: relative;
    max-width: 100vw;
    max-height:100%;
}

button {
    height: 2rem;
    position: absolute;
    bottom: 0.5em;
    left: calc(50% - 2rem);
}